/**
 * (c) Copyright, 2008-2016 Massachusetts Institute of Technology.
 *
 *     This material may be reproduced by or for the
 *     U.S. Government pursuant to the copyright license
 *     under the clause at DFARS 252.227-7013 (June, 1995).
 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    color: #000099;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.header {
	padding:10px;
}

.content {
	padding:10px;
    text-align: center;
	
	/* Height of the footer element */
	padding-bottom:70px;
}
.login {
	
    text-align: center;
	
	
}
.announcements  {
	
    text-align: center;
	
	
}
.announcements h2 {
	
   background-color:#c5cae9;
   min-height:40px;
   margin-top: 0;
   padding: 10px 10px 0 0;
   width: 100%;
}
	
	

.announcements .content-wrapper {
	
   border: 2px solid #c5cae9;
   padding-right: 10px;
   max-width:700px;
   overflow-y:scroll;
   max-height:500px;
	
}

.announcements ul {
	
    text-align: left;

	
	
}
.announcements li {
	
    padding-bottom:1em;

	
	
}
.footer {
	width:100%;
	min-height:30px;
	position:absolute;
	bottom:0;
	left:0;
	background-color: lightgrey;
}

.server-select {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}



.center-container {
    text-align: center;
    margin-top: 10px;
}

.content-wrapper {
    display: inline-block;
}

.content-wrapper .field {
    text-align: left;
    display: inline-block;
    margin: 5px;
}

.field input {
    width: 225px;
}

p.message {
   max-width: 400px;
}

.wrapper img {
    width: 100%;
    height: auto;
}

.footer-left {
    margin: 5px;
    float: left;
}

.footer-right {
    float:right;
    margin: 5px;
}

.nav span {
    border-right: 1px solid grey;
    padding-left: 3px;
}

.nav span:last-child {
    border: none;
}
